@model Model.EF.CONTENT

@{
    ViewBag.Title = "Chi tiết bài viết";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

@section css{
    <link href="/Assets/Client/css/reset.css" rel="stylesheet" />
    <link href="/Assets/Client/css/ccc.css" rel="stylesheet" />
}

<div class="title">
    <a href="/trang-chu">Trang chủ</a>
    <span>/</span>
    <a href="/tin-tuc" class="tintuc">Tin tức</a>
    <span>/</span>
    <a class="tintuc">@Model.ContentName</a>
</div>
<div class="content">
    <div class="left">
        <h2>@Model.ContentName</h2><br>
        @Html.Raw(Model.body)
        <div>
            <br />
            <br />
            <p>Lượt xem: @Model.views</p>
        </div>
    </div>
    @{
        Html.RenderAction("ContentHot", "Content");
    }
    <div class="clr"></div>
</div>
