.wrapper .header .logo{
	width: 130px;
	height: 70px;
	position: absolute;
	left: 220px;
}
.wrapper .header input{
	position: absolute;
    top: 25px;
    left: 489px;
    width: 410px;
    height: 30px;
    border: 1px solid #1BA0E2;
}
.wrapper .header button{
    position: absolute;
    top: 25px;
    left: 901px;
    width: 90px;
	height: 34px;
	color: #FFFFFF;
    background-color: #1BA0E2;
    border: 1px solid #1BA0E2;
}

.wrapper .header a .signup {
    position: absolute;
    right: 350px;
    top: 27px;
    color: black;
    font-size: 17px;
}

    .wrapper .header a .signup:hover {
        color: #FF0000;
    }

.wrapper .header a .login {
    position: absolute;
    right: 250px;
    top: 27px;
    color: black;
    font-size: 17px;
}

    .wrapper .header a .login:hover {
        color: #FF0000;
    }

.wrapper .avatar-user{
	position: absolute;
	left: 1280px;
	top: 10px;
}
.wrapper .avatar-user .avatar{
	width: 44px;
	height: 44px;
	margin-left: 25px;
	float: left;
	border-radius: 20px;
}
.wrapper .avatar-user .drop .dropson .avatar{
	position: relative;
	right: -850px;
	top: -12px;
}
.wrapper .avatar-user h4{
	color: #000000;
	width: 150px;
	float: right;
	position: relative;
	top: 15px;
	right: -50px;
	margin-left: 10px;
	font-size: 17px;
	line-height: 18px;
}
.wrapper .avatar-user .drop{
	position: relative;
	right: 860px;
	top: -12px;
}
.wrapper .avatar-user .drop .subbtn{
	position: relative;
    right: -874px;
    top: -12px;
    height: 41px;
    width: 41px;
	z-index: 1;
}
.wrapper .avatar-user .drop .subbtn li button{
	height: 35px;
	width: 170px;
	margin: 12px 0px;
	color: #FFFFFF;
	border: 1px solid #990000;
	position: relative;
	top: -20px;
	left: 25px;
	border-radius: 4px;
	background-color: #333333;
	font-weight: bold;
	display: none;
}
.wrapper .avatar-user .drop .subbtn:hover li button{
	display: inline-block;
}
.wrapper .avatar-user .drop li {
	width: 150px;
	height: 25px;
	display: inline-block;
	position: relative;
}
.wrapper .title{
	width: 100%;
	height: 40px;
	background-color: #F3F5F7;
	position: relative;
	top: 80px;
}
.wrapper .title a{
	text-decoration: none;
	color: #848484;
	position: relative;
	top: 10px;
	left: 200px;
	font-size: 19px;
}
.wrapper .title span{
	color: #848484;
	position: relative;
	top: 10px;
	left: 200px;
}
.wrapper .title a:hover{
	color: #1BA0E2;
}
.wrapper .title .tintuc{
	text-decoration: none;
	color: #1BA0E2;
	position: relative;
	top: 10px;
	left: 200px;
	font-size: 19px;
	border: none;
}
.wrapper .bannner{}
.wrapper .banner img{
	position: relative;
    top: 80px;
    width: 1518px;
    height: 500px;
}
form{
	position: relative;
    top: 93px;
    left: 249px;
    padding: 15px;
    background-color: #1BA0E2;
    color: #FFFFFF;
    width: 1000px;
    border-radius: 10px;
}
.sapxep label{
	margin: 0px 5px;
	font-size: 17px;
}
.wrapper .contentgiatot{
	margin-top: 20px;
}
.contentgiatot .content{
	display: flex;
	margin-left: 230px;
	padding: 20px 0px;
	position: relative;
	top: 70px;
}
.contentgiatot .content1{
	width: 235px;
	height: 325px;
	border: 1px solid #EBEDEF;
	border-radius: 8px;
	margin: 0px 15px;
}
.contentgiatot .content1 img{
	width: 235px;
	height: 155px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}
.contentgiatot .content1 h4{
	width: 200px;
	line-height: 18px;
	margin-left: 5px;
}
.contentgiatot .content1 h4 a{
	text-decoration: none;
	color: #0000CC;
	font-size: 16px;
}
.contentgiatot .content1 h4 a:hover{
	color: red;
}
.contentgiatot .content1 .xebuytmaybay{
	margin: 8px 0px 8px 5px;
}
.contentgiatot .content1 .xebuytmaybay img{
	width: 20px;
	height: 20px;
}
.content1 .lich{
	width: 242px;
	margin-top: 10px;
}
.content1 .lich img{
	width: 20px;
	height: 20px;
	float: left;
}
.content1 .lich p{
    float: right;
    font-size: 15px;
    margin-right: -5px;
    width: 220px;
}
.content1 .lich strong{
	color: #FF6633;
}
.content1 .thoigian{
	width: 242px;
	margin-top: 40px;
}
.content1 .thoigian img{
	width: 20px;
	height: 20px;
	float: left;
}
.content1 .thoigian p{
	float: right;
	margin-right: 55px;
}
.content1 .thoigian strong{
	color: #FF6633;
}
.contentgiatot .content .content1 .giadattour{
	margin: 65px 0px 5px 2px;
}
.contentgiatot .content .content1 .giadattour p{
	color: #FF6633;
    font-size: 16px;
    float: left;
    margin: 7px 0px 80px 3px;
}
.contentgiatot .content .content1 .giadattour button{
    color: #FFFFFF;
    background-color: #FF6633;
    width: 95px;
    height: 30px;
    margin-left: 5px;
    border: 1px solid #FF6633;
    float: right;
    margin-right: 6px;
}
.contentgiatot .content .content1 .giadattour button:hover{
	background-color: #6633FF;
	border: none;
}
.contentgiatot .content .content1 .giadattour .trongnuoc{
	margin-left: 14px;
}
.pagination {
  	width: 400px;
    margin-left: 50px;
    position: relative;
    bottom: -80px;
    left: 614px;
}
.pagination a {
  display: block;
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}
 
.pagination a.active {
    background-color: #4CAF50;
    color: #FFFFFF;
    background-color: #3333CC;
}
.pagination a:hover:not(.active) {
  background-color: #0099FF;
  color: #FFFFFF;
}
.wrapper .footer{
	background-color: #333333;
	padding: 1px;
	position: relative;
	bottom: -132px;
}
.wrapper .footer .fbtwis{
	margin-left: 200px;
	margin-top: 20px;
}
.wrapper .footer .fbtwis a{
	color: #333333;
	margin-right: 10px;
}
.wrapper .footer .fbtwis a img{
	width: 30px;
	height: 30px;	
}
.wrapper .footer .goiy{
	margin-left: 500px;
}
.wrapper .footer .goiy h3{
	margin-top: -30px;
	color: #848484;
	font-family: Arial;
	font-size: 18px;
}
.wrapper .footer .goiy p{
	color: #848484;
	line-height: 20px;
	font-family: Arial;
}
.wrapper .footer .email input{
	width: 200px;
	height: 25px;
	position: relative;
	left: 950px;
	bottom: 30px;
}
.wrapper .footer .email button{
	color: #FFFFFF;
	background-color: #1BA0E2;
	border: 1px solid #1BA0E2;
	width: 80px;
	height: 30px;
	position: relative;
	left: 946px;
	bottom: 30px;
}
.wrapper .footer .footerson{
	display: flex;
	height: 150px;
}
.wrapper .footer .footerson .footersonleft img{
	width: 150px;
	height: 80px;
	position: relative;
	left: 150px;
	bottom: 20px;
}
.wrapper .footer .footerson .footersonleft p{
	width: 400px;
	position: relative;
	left: 150px;
	color: #848484;
	line-height: 20px;
}
.wrapper .footer .footerson .footersonright{
	float: right;
	position: relative;
	left: 200px;
	display: flex;
}
.wrapper .footer .footerson .footersonright .information{
	padding: 20px 30px;
	position: relative;
	bottom: 30px;
}
.wrapper .footer .footerson .footersonright .information h3{
	color: #FFFFFF;
	margin-bottom: 10px;
}
.wrapper .footer .footerson .footersonright .information ul a{
	text-decoration: none;
}
.wrapper .footer .footerson .footersonright .information ul a li{
	color: #848484;
	line-height: 25px;
}
.wrapper .footer .footerson .footersonright .information ul a li:hover{
	color: #FFFFFF;
}

.pagination-container .pagination li.active a {
    background-color: #0066cc;
    color: white;
    border: 1px solid #0066cc;
}

.sapxep p {
    display:inline;
}