.wrapper .header .logo{
	width: 130px;
	height: 70px;
	position: absolute;
	left: 220px;

}
.wrapper .header input{
	position: absolute;
    top: 25px;
    left: 489px;
    width: 410px;
    height: 30px;
    border: 1px solid #1BA0E2;
}
.wrapper .header button{
    position: absolute;
    top: 25px;
    left: 901px;
    width: 90px;
	height: 34px;
	color: #FFFFFF;
    background-color: #1BA0E2;
    border: 1px solid #1BA0E2;
}
.wrapper .title{
	width: 100%;
	height: 40px;
	background-color: #F3F5F7;
	position: relative;
	top: 80px;
}
.wrapper .title a{
	text-decoration: none;
	color: #848484;
	position: relative;
	top: 10px;
	left: 200px;
	font-size: 19px;
}
.wrapper .title span{
	color: #848484;
	position: relative;
	top: 10px;
	left: 200px;
}
.wrapper .title a:hover{
	color: #1BA0E2;
}
.wrapper .title .tintuc{
	text-decoration: none;
	color: #1BA0E2;
	position: relative;
	top: 10px;
	left: 200px;
	font-size: 19px;
	border: none;
}
.wrapper .content{
	margin-top: 90px;
}
.wrapper .content .left{
	float: left;
	position: relative;
	left: 200px;
}
.wrapper .content .left img{
	width: 550px;
	height: 350px;
}
.wrapper .content .left h2{
	width: 550px;
	color: #003366;
}
.wrapper .content .left a{
	text-decoration: none;
}
.wrapper .content .left p{
	width: 550px;
}
.wrapper .content .left p:hover{
	color: #1BA0E2;
}
.wrapper .content .centertop{
	float: left;
	margin-left: 220px;
	margin-top: -10px;
}
.wrapper .content .centertop ul li{
	margin: 10px 0px;
	border-bottom: 1px dotted #AAAAAA;
	padding-bottom: 8px;
}
.wrapper .content .centertop ul li a{
	text-decoration: none;
}
.wrapper .content .centertop ul li a img{
	width: 300px;
	height: 210px;
}
.wrapper .content .centertop ul li a p{
	width: 290px;
	color: #000000;
	font-size: 16px;
}
.wrapper .content .centertop ul li a p:hover{
	color: #1BA0E2;
}
.wrapper .content .favourite{
	float: right;
	position: relative;
	right: 100px;
}
.wrapper .content .favourite h2{
	font-size: 20px;
	width: 330px;
}
.wrapper .content .favourite ul li{
	margin: 10px 0px;
}
.wrapper .content .favourite ul li a{
	text-decoration: none;
}
.wrapper .content .favourite ul li a img{
	width: 140px;
	height: 100px;
	float: left;
}
.wrapper .content .favourite ul li a p{
	width: 180px;
	float: right;
	color: #000000;
	font-size: 17px;
}
.wrapper .content .favourite ul li a p:hover{
	color: #1BA0E2;
}
.wrapper .content .grid{
	margin-left: 145px;
	position: absolute;
	top: 570px;
	left: 45px; 
}
.wrapper .content .grid .top{
	display: flex;
}
.wrapper .content .grid .top li{
	margin: 0px 10px;
}
.wrapper .content .grid .top li a{
	text-decoration: none;
}
.wrapper .content .grid .top li img{
	width: 280px;
	height: 200px;
}
.wrapper .content .grid .top li h3{
	width: 280px;
	padding-top: 5px;
}
.wrapper .content .grid .top li p{
	width: 280px;
	line-height: 20px;
	color: #000000;
	padding-top: 5px;
}
.wrapper .content .grid .top li p:hover{
	color: #1BA0E2;
}
.wrapper .content .grid .mid{
	display: flex;
}
.wrapper .content .grid .mid li{
	margin: 0px 10px;
}
.wrapper .content .grid .mid li a{
	text-decoration: none;
}
.wrapper .content .grid .mid li img{
	width: 280px;
	height: 200px;
}
.wrapper .content .grid .mid li h3{
	width: 280px;
	padding-top: 5px;
}
.wrapper .content .grid .mid li p{
	width: 280px;
	line-height: 20px;
	color: #000000;
	padding-top: 5px;
}
.wrapper .content .grid .mid li p:hover{
	color: #1BA0E2;
}
.wrapper .content .grid .bottom{
	display: flex;
}
.wrapper .content .grid .bottom li{
	margin: 0px 10px;
}
.wrapper .content .grid .bottom li a{
	text-decoration: none;
}
.wrapper .content .grid .bottom li img{
	width: 280px;
	height: 200px;
}
.wrapper .content .grid .bottom li h3{
	width: 280px;
	padding-top: 5px;
}
.wrapper .content .grid .bottom li p{
	width: 280px;
	line-height: 20px;
	color: #000000;
	padding-top: 5px;
}
.wrapper .content .grid .bottom li p:hover{
	color: #1BA0E2;
}
.wrapper .footer{
	background-color: #333333;
	padding: 1px;
	position: relative;
	top: 883px;
}
.wrapper .footer .fbtwis{
	margin-left: 200px;
	margin-top: 20px;
}
.wrapper .footer .fbtwis a{
	color: #333333;
	margin-right: 10px;
}
.wrapper .footer .fbtwis a img{
	width: 30px;
	height: 30px;
	
}
.wrapper .footer .goiy{
	margin-left: 500px;
}
.wrapper .footer .goiy h3{
	margin-top: -30px;
	color: #848484;
	font-family: Arial;
	font-size: 18px;
}
.wrapper .footer .goiy p{
	color: #848484;
	line-height: 20px;
	font-family: Arial;
}
.wrapper .footer .email{

}
.wrapper .footer .email input{
	width: 200px;
	height: 25px;
	position: relative;
	left: 950px;
	bottom: 30px;
}
.wrapper .footer .email button{
	color: #FFFFFF;
	background-color: #1BA0E2;
	border: 1px solid #1BA0E2;
	width: 80px;
	height: 30px;
	position: relative;
	left: 946px;
	bottom: 30px;
}
.clr{
	clear: both;
}