.clr{
	clear: both;
}
.wrapper .header .logo{
	width: 130px;
	height: 70px;
	position: absolute;
	left: 220px;

}
.wrapper .header input{
	position: absolute;
    top: 25px;
    left: 489px;
    width: 410px;
    height: 30px;
    border: 1px solid #1BA0E2;
}
.wrapper .header button{
    position: absolute;
    top: 25px;
    left: 901px;
    width: 90px;
	height: 34px;
	color: #FFFFFF;
    background-color: #1BA0E2;
    border: 1px solid #1BA0E2;
}
.wrapper .title{
	width: 100%;
	height: 40px;
	background-color: #F3F5F7;
	position: relative;
	top: 80px;
}
.wrapper .title a{
	text-decoration: none;
	color: #848484;
	position: relative;
	top: 10px;
	left: 200px;
	font-size: 19px;
}
.wrapper .title span{
	color: #848484;
	position: relative;
	top: 10px;
	left: 200px;
}
.wrapper .title a:hover{
	color: #1BA0E2;
}
.wrapper .title .tintuc{
	text-decoration: none;
	color: #1BA0E2;
	position: relative;
	top: 10px;
	left: 200px;
	font-size: 19px;
	border: none;
}
.wrapper .content{
	position: relative;
	top: 80px;
	width: 1120px;
	left: 200px;
	top: 90px;
}
.wrapper .content .contentleft{
	float: left;
}
.wrapper .content .contentleft img{
	width: 750px;
	height: 450px;
}
.wrapper .content .contentleft .contentleftson{}
.wrapper .content .contentleft .contentleftson h3{
	width: 740px;
	padding: 15px 0px 15px 10px;
	background-color: #DDF1FB;
}
.wrapper .content .contentleft .contentleftson h4{

}
.wrapper .content .contentleft .contentleftson p{
	width: 740px;
	line-height: 35px;
}
.wrapper .content .contentleft .contentleftson img{}
.wrapper .content .contentleft .contentleftson .information{
	color: black;
	font-weight: bold;
	font-style: italic;
	font-size: 18px;
}
.wrapper .content .contentright{
	position: -webkit-sticky;
    position: sticky;
    float: right;
	width: 350px;
	height: 300px; /*-- add --*/
	top: 0; /*-- add --*/
}
.wrapper .content .contentright h3{
	font-size: 21px;
	line-height: 30px;
	width: 350px;
}
.wrapper .content .contentright .tien{
	color: #FF3300;
	font-size: 23px;
	font-weight: bold;
	padding: 5px 0px;
}
.wrapper .content .contentright ul{}
.wrapper .content .contentright ul li{
	border-bottom: 1px dotted #000000;
	padding: 10px;
	width: 330px;
}
.wrapper .content .contentright ul li img{
	width: 20px;
	height: 20px;
}
.wrapper .content .contentright ul li span{
	color: #FD541F;
}
.wrapper .content .contentright p{
	width: 330px;
	padding: 5px;
	line-height: 28px;
}
.wrapper .content .contentright button{
	background-color: #1BA0E2;
	color: #FFFFFF;
	font-size: 16px;
	width: 360px;
	padding: 8px 0px;
	border-radius: 5px;
	border: 1px solid #1BA0E2;
}
.wrapper .content .contentright button:hover{
	color: #FFFFFF;
	background-color: #BB0000;
}

 /*-- add --*/
.clearfix:after{
    clear: both;
    content: "";
    display: block;
    width: 0px;
    height: 0px;
}
 /*-- add --*/
 .wrapper .footer{
	background-color: #333333;
	padding: 1px;
	margin-left: -200px;
	width: 1516px;
}
.wrapper .footer .fbtwis{
	margin-left: 200px;
	margin-top: 20px;
}
.wrapper .footer .fbtwis a{
	color: #333333;
	margin-right: 10px;
}
.wrapper .footer .fbtwis a img{
	width: 30px;
	height: 30px;
	
}
.wrapper .footer .goiy{
	margin-left: 500px;
}
.wrapper .footer .goiy h3{
	margin-top: -30px;
	color: #848484;
	font-size: 18px;
}
.wrapper .footer .goiy p{
	color: #848484;
	line-height: 20px;
}
.wrapper .footer .email{

}
.wrapper .footer .email input{
	width: 200px;
	height: 25px;
	position: relative;
	left: 950px;
	bottom: 30px;
}
.wrapper .footer .email button{
	color: #FFFFFF;
	background-color: #1BA0E2;
	border: 1px solid #1BA0E2;
	width: 80px;
	height: 30px;
	position: relative;
	left: 946px;
	bottom: 30px;
}
