<div class="footer">
    <div class="fbtwis">
        <a href="#">
            <img src="/Assets/Client/images/fb.jpg" title="facebook">
        </a>
        <a href="#">
            <img src="/Assets/Client/images/tw.jpg" title="twitter">
        </a>
        <a href="#">
            <img src="/Assets/Client/images/is.jpg" title="instagram">
        </a>
    </div>
    <div class="goiy">
        <h3>ĐĂNG KÝ NHẬN TIN</h3>
        <p>Các deal du lịch giảm giá đến 60% sẽ được gửi đến bạn</p>
    </div>
    <div class="email">
        <input type="text" name="email" placeholder=" Email của bạn là ...">
        <button>Đăng ký</button>
    </div>
    <div class="footerson">
        <div class="footersonleft">
            <img class="logo" src="/Assets/Client/images/logo.png" alt="logo">
            <p>Cras sociis natoque penatibus et magnis Lorem Ipsum tells about the compmany right now the best.</p>
        </div>
        <div class="clr"></div>
        <div class="footersonright">
            <div class="information">
                <h3>Essentials</h3>
                <ul>
                    <a href="#"><li>Search</li></a>
                    <a href="#"><li>Sell your car</li></a>
                    <a href="#"><li>Advertise with us</li></a>
                    <a href="#"><li>Dealers Portal</li></a>
                    <a href="#"><li>Post Requirements</li></a>
                </ul>
            </div>
            <div class="information">
                <h3>Information</h3>
                <ul>
                    <a href="#"><li>Register Now</li></a>
                    <a href="#">
                        <li>Advice<li></li>
                        <a href="#"><li>Videos</li></a>
                        <a href="#"><li>Blog</li></a>
                        <a href="#"><li>Services</li></a>
                </ul>
            </div>
            <div class="information">
                <h3>Explore</h3>
                <ul>
                    <a href="#"><li>News</li></a>
                    <a href="#"><li>Sitemap</li></a>
                    <a href="#"><li>Testimonials</li></a>
                    <a href="#"><li>Feedbacks</li></a>
                    <a href="#"><li>User Agreement</li></a>
                </ul>
            </div>
            <div class="information">
                <h3>Company</h3>
                <ul>
                    <a href="#"><li>Career</li></a>
                    <a href="#"><li>For Parters</li></a>
                    <a href="#"><li>Terms</li></a>
                    <a href="#"><li>Policy</li></a>
                    <a href="#"><li>Contact Us</li></a>
                </ul>
            </div>
        </div>
    </div>
</div>
