<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-sm-4 col-md-3" style="padding: 0px;">
                <ul style="list-style: none;">
                    <li><h3>Liên hệ</h3></li>
                    <li>Địa chỉ: 03 Quang Trung, Đại học Duy Tân</li>
                    <li>Điện thoại: 123456789</li>
                    <li>Emai: hungdeptrai@gmail.com</li>
                </ul>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3" style="padding: 0px;">
                <ul style="list-style: none;">
                    <li><h3>Dịch vụ</h3></li>
                    <li><a href="#">Trang chủ</a></li>
                    <li><a href="#">Tour trong nước</a></li>
                    <li><a href="#">Tour ngoài nước</a></li>
                    <li><a href="#">Tour khuyến mãi</a></li>
                    <li><a href="#">Tin tức</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Liên hệ</a></li>
                </ul>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3" style="padding: 0px;">
                <ul style="list-style: none;">
                    <li><h3>Khách hàng</h3></li>
                    <li><a href="#">Trang chủ</a></li>
                    <li><a href="#">Tour trong nước</a></li>
                    <li><a href="#">Tour ngoài nước</a></li>
                    <li><a href="#">Tour khuyến mãi</a></li>
                    <li><a href="#">Tin tức</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Liên hệ</a></li>
                </ul>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3" style="padding: 0px;">
                <ul style="list-style: none;">
                    <li><h3>Thông tin</h3></li>
                    <li><a href="#">Tin tức</a></li>
                    <li><a href="#">Cẩm nang du lịch</a></li>
                    <li><a href="#">Kinh nghiệm du lịch</a></li>
                    <li><a href="#">Liên hệ</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid" align="center" style="background-color: #202134;">
        <h5 style="color: #FFFFFF;">&copy;&nbsp;Bản quyền thuộc về Nhóm 4 - CDIO 4 | Cung cấp bởi <a href="#" style="color: #99CCFF;">hungdeptrai :v</a></h5>
    </div>
</div>