@{
    var userSession = (TravelAgency.Common.UserLogin)Session[TravelAgency.Common.CommonConstant.USER_SESSION];
}

<div class="row bg bg-default">
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <a href="/trang-chu">
            <img src="~/Assets/Client/images/logo.png" style="width: 200px;height: auto;">
        </a>
    </div>
    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
        <div class="input-group" style="margin-top: 25px;">
            <form action="/tim-kiem" method="get">
                <input type="text" id="txtKeyword" name="keyword" class="form-control" placeholder="Bạn tìm kiếm gì hôm nay ...">
            </form>
            <span class="input-group-btn">
                <button class="btn" style="background-color: #0071BC;color: #FFFFFF;" type="button">Tìm kiếm</button>
            </span>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <div class="input-group" style="margin: 25px 0px 25px 4rem">
            <div style="display: flex;">
                @if (userSession == null)
                {
                    <a href="/dang-nhap">
                        <button class="btn" style="background-color: #0071BC;color: #FFFFFF;">Đăng nhập</button>&nbsp;
                    </a>
                    <a href="/dang-ki">
                        <button class="btn" style="background-color: #0071BC;color: #FFFFFF;">Đăng ký</button>
                    </a>
                }
                @if (userSession != null)
                {
                    <a>
                        <button class="btn" style="background-color: #0071BC;color: #FFFFFF;">@userSession.userName</button>
                    </a>
                    using (Html.BeginForm("Logout", "Login", FormMethod.Get))
                    {
                        <button class="btn" style="background-color: #0071BC;color: #FFFFFF;">Đăng xuất</button>
                    }
                }
                <div>
                    <nav>
                        <div class="container" style="margin : auto;width: 70%">
                            <ul class="navbar-right" style="margin: 21%;">
                                <li style="list-style-type: none;display: flex;justify-content: space-between;">
                                    <a href="/gio-hang" id="cart" style="display: flex;justify-content: space-between;text-decoration: none;">
                                        <i class="glyphicon glyphicon-shopping-cart"></i> Giỏ
                                    </a>
                                    <span class="badge"></span>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

