<!DOCTYPE html>
<html>
<head>
    <title>Quản lý tour du lịch</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/Assets/Client/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/Assets/Client/css/homestyle.css">
    <script type="text/javascript">
        window.onload = function () {
            setTimeout("switch_Image()", 6000);
        }
        var current = 1;
        var num_image = 8;
        function switch_Image() {
            current++;
            document.images['image'].src = '/Assets/Client/images/slide-' + current + '.jpg';
            if (current < num_image) {
                setTimeout("switch_Image()", 6000);
            } else if (current == num_image) {
                current = 0;
                setTimeout("switch_Image()", 6000);
            }
        }
    </script>
</head>
<body>
    <div class="wrapper">
        <div class="header">
            <img class="logo" src="/Assets/Client/images/logo.png" alt="logo">
            <input type="text" name="search" placeholder=" Bạn tìm gì hôm nay? ...">
            <button>Tìm kiếm</button>
            <a href="signup.html">
                <h3 class="signup">Đăng ký</h3>
            </a><span>/</span>
            <a href="login.html">
                <h3 class="login">Đăng nhập</h3>
            </a>
        </div>
        <div>
            @{ Html.RenderAction("MainMenu", "Home");}
        </div>
        <div class="bg">
            <img name="image" src="/Assets/Client/images/slide-1.jpg">
        </div>
        <div class="review">
            <div class="reviewleft">
                <img src="/Assets/Client/images/money.png">
                <div class="right">
                    <h4>Đảm bảo giá tốt nhất</h4>
                    <p>Chúng tôi đảm bảo khách hàng sẽ đặt được dịch vụ với giá tốt nhất, những chương trình khuyến mãi hấp dẫn nhất</p>
                </div>
            </div>
            <div class="reviewcenter">
                <img src="/Assets/Client/images/service.png">
                <div class="right">
                    <h4>Dịch vụ tin cậy - Giá trị đích thực</h4>
                    <p>Đặt lợi ích khách hàng lên trên hết, chúng tôi hỗ trợ khách hàng nhanh và chính xác nhất với dịch vụ tin cậy, giá trị đích thực</p>
                </div>
            </div>
            <div class="reviewright">
                <img src="/Assets/Client/images/quality.png">
                <div class="right">
                    <h4>Đảm bảo chất lượng</h4>
                    <p>Chúng tôi liên kết chặt chẽ với các đối tác, khảo sát định kỳ để đảm bảo chất lượng tốt nhất của dịch vụ</p>
                </div>
            </div>
        </div>

        @RenderBody()

        <div class="footer">
            <div class="fbtwis">
                <a href="#">
                    <img src="/Assets/Client/images/fb.jpg" title="facebook">
                </a>
                <a href="#">
                    <img src="/Assets/Client/images/tw.jpg" title="twitter">
                </a>
                <a href="#">
                    <img src="/Assets/Client/images/is.jpg" title="instagram">
                </a>
            </div>
            <div class="goiy">
                <h3>ĐĂNG KÝ NHẬN TIN</h3>
                <p>Các deal du lịch giảm giá đến 60% sẽ được gửi đến bạn</p>
            </div>
            <div class="email">
                <input type="text" name="email" placeholder=" Email của bạn là ...">
                <button>Đăng ký</button>
            </div>
        </div>
    </div>
</body>
</html>