<!DOCTYPE html>
<html>
<head>
    <title>Chi tiết tour</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/Assets/Client/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/Client/css/bootstrap-theme.min.css">
    <script type="text/javascript" src="~/Assets/Client/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/Assets/Client/js/bootstrap.min.js"></script>
    <link rel="stylesheet prefetch" href="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>

    <style>
        #image:hover {
            -ms-transform: scale(1.05); /* IE 9 */
            -webkit-transform: scale(1.05); /* Safari 3-8 */
            transform: scale(1.05);
        }

        table {
            margin-top: 10px;
            margin-bottom: 20px;
        }

        table, th, tr, td {
            border: 2px solid #0071BC;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        @RenderPage("Header.cshtml")
        @{ Html.RenderAction("MainMenu", "Home");}
        @RenderBody()
        @* Background Footer *@
        <div class="row" style="background: url(/Assets/Client/images/h.jpg);margin: 20px -15px;">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12">
                        <h3 align="center" style="margin: 60px 0px 0px 0px;color: #FFFFFF;">Đăng ký nhận tin</h3>
                        <hr style="width: 60%;">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12">
                        <h4 align="center" style="margin: 0px 0px 20px 0px;color: #FFFFFF;line-height: 30px;">Tổng hợp những chương trình tour theo tháng, du lịch vòng quanh thế giới với mức chi phí cực rẻ. Để nhận ngay những thông tin chương trình tour hot, Sale. Quý khách hàng vui lòng nhập thông tin email tại đây.</h4>
                        <div class="col-xs-12">
                            <div class="input-group" style="width: 50%;margin-left: 26%;padding-bottom: 70px;">
                                <input type="text" name="" class="form-control" placeholder="Email nhận tin ...">
                                <span class="input-group-btn">
                                    <button class="btn" style="background-color: #0071BC;color: #FFFFFF;" type="button">Đăng ký</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @RenderPage("Footer.cshtml")
    @RenderSection("jsFooter", false)
</body>
</html>