@model List<Model.EF.MENU>

<div class="row">
    <nav class="navbar navbar-default" style="margin-bottom: 0px;">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="#">Trang chủ</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tour trong nước<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Hạ Long</a></li>
                            <li><a href="#">Cát Bà</a></li>
                            <li><a href="#">Con Đảo</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tour ngoài nước<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Singapore</a></li>
                            <li><a href="#">Pháp</a></li>
                            <li><a href="#">Anh</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Tour khuyến mãi</a></li>
                    <li><a href="#">Tin tức</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Liên hệ</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>

@*<ul class="menu">
    @foreach (var item in Model.Where(x => x.ParentID == null))
    {
        var child = Model.Where(x => x.ParentID == item.ID);

        <li class="tourtrongnuoc">
            <a href="@item.Link">@item.Text</a>
        </li>
    }
</ul>*@
